* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  
  }
  
  h2 {
    font-size: 45px;
    line-height: 50px;
    color: #222;
    
  } 
  
  h3 {
    font-size: 30px;
    line-height: 14px;
    color: #222;
  
  }
  
  h4 {
    font-size: 20px;
    line-height: 16px;
    color: #222;
  
  }
  h5{
    font-size: 30px;
  }
  .section-p1 {
    padding: 40px 80px;
  }
  
  
  body {
    width: 100%;
    background-color: #C9AA6C;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #C9AA6C;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
    position: sticky;
    top: 0;
    left: 0;
     
  }
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li{
    list-style: none;
    padding: 0 20px; 
  }
  
  #navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #354047;
  }

  li:nth-child(2) a {
    padding-right: 300px;
    
  
  }
  li:nth-child(3) a {
    padding-right: 250px;
    margin-inline: 50px;
  }
  
  li, a, i, .fas fa-user{
    font-size: 30px;
  }

  #newsletter {
    padding-left: 100px;
    color: #fff;
    background-color: #1a1a1a;
    justify-content: center; 
    width: 100%;
    
 }
  #form101 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    align-content: normal;
  }

  #form101 input {
    height: 2.5rem;
    padding: 0 1.2em;
    font-size: 14px;
    width: 350px;
    border: 1px solid ;
    border-radius: none;
    margin-bottom: 35px;

  }

  #form101 button {
    height: 2.6rem;
    padding: 0 1.2em;
    font-size: 14px;
    width: 350px;
    border: 1px solid ;
    border-radius: none;
    margin-bottom: 35px;
    background-color: #222;
    color: #fff;
    line-height: 18px;
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1A1A1A;
    color: #ffffffb9;
    
  }


  